*.com
*.class
*.dll
*.exe
*.o
*.so
*.pbd
UithofTramLijn/bin/Debug/UithofTramLijn.pdb
*.exe
UithofTramLijn/obj/Debug/UithofTramLijn.pdb
*.exe
UithofTramLijn/bin/Debug/UithofTramLijn.exe
*.suo
UithofTramLijn/bin/Debug/UithofTramLijn.pdb
.vs/UithofTramLijn/v14/.suo
UithofTramLijn/obj/Debug/UithofTramLijn.pdb
*.exe
UithofTramLijn/bin/Debug/UithofTramLijn.pdb